.my-textarea {
  resize: none; /* resize-none */
  outline: none; /* outline-none */
  padding-top: 1.25rem;
  padding-left: 1rem;
  transition: transform 200ms ease-in-out; /* transition-transform duration-200 ease-in-out */
  appearance: none; /* appearance-none */
  color: white; /* text-white */
}
.my-textarea::placeholder {
  color: #f5f5f5; /* placeholder-gray-100 */
}

.my-textarea:focus {
  transform: scale(1.05); /* focus:scale-105 */
}

.create-btn{
    transition: transform 200ms ease-in-out; /* transition-transform duration-200 ease-in-out */
    appearance: none; /* appearance-none */
    color: white; /* text-white */
    padding: 5px 0px;

}

.create-btn:hover{
    background-color: green;
    transform: scale(1.05);
}
.boxes{
    width: 67%; 
    border-radius: 1rem; 
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.05);
}

.todos{
    width: 67%; 
    border-radius: 1rem; 
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.01);
    padding: 4px 10px;
}