.navLink{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding : 0 15px;
    transition: background-color 0.5s ease, color 0.5s ease;

}

.navLink.active{
    background-color: #2563EB ; 
    
}